<% provide(:title, 'Edit Details') %>
<h1>Edit Details</h1>
<div class="forms">
  <div class="forms_container">
    <br>

    <%= form_for(:user, :url => {:controller => 'users', :action => 'tryedit', :id=>session[:user_id]}) do |f| %>
      Name:<br> <%= f.text_field :name%>
      Email:<br> <%= f.email_field :email%>
      Phone No.:<br> <%= f.phone_field :phone%>
      Experience(yrs):<br><%= f.number_field :experience%> 
      Password:<br> <%= f.password_field :password%>
      <hr>
      <%= f.submit 'Save' %>
    <% end %><%= button_to "Cancel", action: "profile" %>
  </div>
</div>
<ul class="errors">
  <% if @user.errors.any? %>
    <% for message_error in @user.errors.full_messages %>
      <li><%= message_error %></li>
    <% end %>
  <% end %>
  <li><%= flash[:notice]%></li>
</ul>