<% provide(:title, 'CSV File Options') %>
<h1>Download/Upload CSV File</h1>
<h3>Download Questions CSV</h3>
<span class="link"><%= link_to "CSV Download", format: :csv %></span>

<h3>Import Questions CSV</h3>
<%= form_tag url_for(:controller => 'admin', :action => 'import_questions'), multipart: true do %>
  <%= file_field_tag :file %> <span class="btn"><%= submit_tag "Import" %></span>
<% end %>
<p><%= flash[:notice] %></p>