<% provide(:title, 'Statistics') %>
<h1>Test Statistics</h1>
<% if @stats %>
  <div class="filter">
    <%= form_tag url_for(:controller => 'admin', :action => 'stats'), method: "get" do %>
      Test ID:<%= text_field_tag 'testid', params[:testid] %>
      Subject:<%= collection_select 'subject', :sub, Subject.all, :subject, :subject, :prompt => true %>
      User:<%= text_field_tag 'user', params[:user] %>
      Questions:<span><%= select_tag 'qnum', options_for_select(['>', '<', '='], params[:qnum]) %><%= number_field_tag 'qnumval', params[:qnumval] %></span>
      Percentage:<span><%= select_tag 'percent', options_for_select(['>', '<', '='], params[:percent]) %><%= number_field_tag 'percentval', params[:percentval] %></span>
    <br>Date:  
    <% if params[:dateval] %>
    <% event = params[:dateval] %>
      <span><%= select_tag 'date', options_for_select([["Before", "<"], ["After", ">"]], params[:date]) %><%= date_select("dateval", "on", order: [:month, :day, :year], default: { day: event["on(3i)"].to_i, month: event["on(2i)"].to_i, year: event["on(1i)"].to_i }) %></span>
      <% else %>
      <span><%= select_tag 'date', options_for_select([["Before", "<"], ["After", ">"]], params[:date]) %><%= date_select("dateval", "on", order: [:month, :day, :year]) %></span>
      <% end %>
      <%= submit_tag 'Apply' %>
    <% end %>
  </div>
  <div class="divtable">
    <div class="table">
      <div class="tr">
        <div class="td">Test Name</div>
        <div class="td">Test Login ID</div>
        <div class="td">Test Subject</div>    
        <div class="td">User Name</div>
        <div class="td">Correct Answers</div>
        <div class="td">Incorrect Answers</div>
        <div class="td">Total Questions</div>
        <div class="td">Percentage</div>
        <div class="td">Test Date</div>
      </div>
      <% @stats.each do |result| %>
        <div class="tr">
          <div class="td"><%= Test.find(result.test_id).testname %></div>
          <div class="td"><%= Test.find(result.test_id).testlogin %></div>
          <div class="td"><%= Test.find(result.test_id).subject %></div>
          <div class="td"><%= User.find(result.user_id).name %></div>
          <div class="td"><%= result.correct %></div>
          <div class="td"><%= result.incorrect %></div>
          <div class="td"><%= Test.find(result.test_id).quescount %></div>
          <div class="td"><%= @percent = (result.correct * 100)/(result.correct + result.incorrect) %>&percnt;</div>
          <div class="td"><%= result.created_at.strftime("%b %d, %Y") %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @stats %>
  </div>
  <div class="average">Average Score is: 100&percnt;</div>
<% else %>
  <div class="average">No result to display</div>
<% end %>